{
	dynamic_dns {
		provider cloudflare {env.CF_API_TOKEN}
		versions ipv4

		domains {
			loveand.coffee jellyfin
		}
	}
}

jellyfin.loveand.coffee {
	tls {
		resolvers 1.1.1.1
		dns cloudflare {env.CF_API_TOKEN}
	}

	reverse_proxy :8096
}

torrent.loveand.coffee {
	@denied not remote_ip private_ranges
	respond @denied "Nope" 403

	tls {
		resolvers 1.1.1.1
		dns cloudflare {env.CF_API_TOKEN}
	}

    reverse_proxy :8080
}

pi.loveand.coffee {
	@denied not remote_ip private_ranges
	respond @denied "Nope" 403

	tls {
		resolvers 1.1.1.1
		dns cloudflare {env.CF_API_TOKEN}
	}
    
    rewrite * /admin{uri}
    reverse_proxy pi.hole:80
}
