{
    dynamic_dns {
        provider cloudflare {env.CF_API_TOKEN}
        versions ipv4

        domains {
            loveand.coffee jellyfin2
        }
    }
}

jellyfin.loveand.coffee, jellyfin2.loveand.coffee {
    tls {
        resolvers 1.1.1.1
        dns cloudflare {env.CF_API_TOKEN}
    }

    reverse_proxy :8096
}

torrent.loveand.coffee {
	@denied not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8 100.64.0.0/10
	abort @denied

    tls {
        resolvers 1.1.1.1
        dns cloudflare {env.CF_API_TOKEN}
    }

    reverse_proxy :8080
}

pi.loveand.coffee {
	@denied not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8 100.64.0.0/10
	abort @denied

    tls {
        resolvers 1.1.1.1
        dns cloudflare {env.CF_API_TOKEN}
    }

    rewrite * /admin{uri}
    reverse_proxy pi.hole:80
}
