{
    dynamic_dns {
        provider cloudflare {env.CF_API_TOKEN}

        domains {
            jellyfin2.loveand.coffee
        }
    }
}

jellyfin.loveand.coffee {
    tls {
        resolvers 1.1.1.1
        dns cloudflare {env.CF_API_TOKEN}
    }

	reverse_proxy :8096
}

torrent.loveand.coffee {
    tls {
        resolvers 1.1.1.1
        dns cloudflare {env.CF_API_TOKEN}
    }

	reverse_proxy :8080
}
